# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
.venv

# Bases de datos SQLite
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.local

# Archivos de la aplicación
instance/
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
